{% extends 'base.html' %}

{% block body %}
  <h1 align="center">Sign up</h1>
        <div class="container" style="background-color: ghostwhite;">
        <div class="create-user-form">
          <form method="post">
                {% csrf_token %}
                Please Enter Your First And Last Name
                {{ golfer_form.as_p }}
                {{ user_form.as_p }}
                <button type="submit" name="register">Create Golfer!</button>
              <input type="hidden" name="next" value='{% url "golf_app:login"  %}' />
            </form>
        </div>
        </div>
{% endblock %}