/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

table td {
    color: black;
    vertical-align: bottom;
    letter-spacing: 2px;
}
body {
    background-color: ghostwhite;
}

ul.side-nav {
    background-color: #388E3C;
    font-size: 30px;
    color: floralwhite;
}
nav.top-nav {
    background-color: #388E3C;
    color: white;
}

.scorecard-list {
    color: #212121;
    padding-top: 40px;
}

button.delete {
    color: white;
    background-color: red;
    width: 35px;
}

button.add-scorecard {
    background-color: blue;
    color: white;
}

.login-register {
    padding: 20px;
}

.scorecard-button-hole {
    padding: 20px;

}
label {
    color: white;
    font-size: 1rem;
}

.hole-detail {
    color: black;
}

.checkbox-fix label{
    top: 6px;
    left: 11px;
}

.player-info {
    color: black;
    font-size: x-large;
}

.welcome-font {
    color: #212121;
    padding-top: 20px;
}

.container {
    background-color: #B6B6B6;
    left-padding: 12px;
    right-padding: 12px;
    padding: 12px;
}

.begin-round {
    background-color: #607D8B;
    margin: 20px;
}

p.delete-scorecard-field {
    color: white;
}

form.delete-scorecard-button {
    color: black;
}

form.login {
    color: black;
}
.timestamp-sc {
    color: black;
}

h1.Comment-title {
    color: white;
}

table.hoverable {
    background-color: #C8E6C9;
}
.add-score-btn {
    margin: 20px;
}
.hole-detail {
    margin: 20px;
}
