{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />

</head>
{% block head %}
{% endblock %}

<body>

  <nav class="#00c853 green accent-4" role="navigation">
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'golf_app:home' %}">Home</a></li>
      <li><a href="{% url 'golf_app:scorecard_history' %}">Scorecards</a></li>
      <li><a href="{% url 'golf_app:comment_history' %}">Course Comment</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="{% url 'golf_app:home' %}">Home</a></li>
      <li><a href="{% url 'golf_app:scorecard_history' %}">Scorecards</a></li>
      <li><a href="{% url 'golf_app:graph' %}">Scorecard Graphs</a></li>
      <li><a href="{% url 'golf_app:comment_history' %}">Course Comment</a></li>

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </nav>
{% block body %}
<h1 align="center"> Welcome {{ user.username }}!</h1>
<div align="center">
    {% if user.id %}
        <a href="{% url 'golf_app:logout' %}" class="waves-effect waves-light btn">Logout</a>
        <p></p>
        <p></p>
    {% else %}
        <a href="{% url 'golf_app:login' %}" class="waves-effect waves-light btn">Login</a>
        <a href="{% url 'golf_app:user_registration' %}" class="waves-effect waves-light btn">Sign up</a>
    {% endif %}
</div>
{% endblock %}

<div class="container">
{% block content %}
{% endblock %}
</div>

<div class="container">

<table align="center" border="1" class="bordered">
    <tr>
        <td>Average Score:</td>
        <td>Average FIR %:</td>
        <td>Average GIR %:</td>
        <td>Best Score: </td>
    </tr>
    <tr>
    <td align="center">{{ user.golfer.average_score }}</td>
    <td align="center">{{ user.golfer.average_fir }}</td>
    <td align="center">{{ user.golfer.average_gir }}</td>
    <td align="center">0.0 </td>
    </tr>
</table>
    </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

</body>


</html>

