{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />

</head>
{% block head %}
{% endblock %}

<body>
  <nav class="top-nav" role="navigation">
      <ul class="right hide-on-med-and-down">
      <strong><li><a href="{% url 'golf_app:home' %}">Home</a></li></strong>
      <strong><li><a href="{% url 'golf_app:scorecard_history' %}">Scorecards</a></li></strong>
      <strong><li><a href="{% url 'golf_app:comment_history' %}">Course Comments</a></li></strong>
      <strong><li><a href="{% url 'golf_app:graph' %}">Scorecard Analysis</a></li></strong>
          {% if user.id %}
          <strong><li><a href="{% url 'golf_app:logout' %}">Logout</a></li></strong>
            {% else %}
            <strong><li><a href="{% url 'golf_app:login' %}">Login</a></li></strong>
             <strong><li><a href="{% url 'golf_app:user_registration' %}">Sign up</a></li></strong>
            {% endif %}
      </ul>
      <div id="side-nav-bar">
      <ul id="nav-mobile" class="side-nav">
      <li><a href="{% url 'golf_app:home' %}" style="color:white;">Home</a></li>
      <li><a href="{% url 'golf_app:scorecard_history' %}" style="color:white;">Scorecards</a></li>
      <li><a href="{% url 'golf_app:graph' %}" style="color:white;">Scorecard Analysis</a></li>
      <li><a href="{% url 'golf_app:comment_history' %}" style="color:white;">Course Comments</a></li>
      {% if user.id %}
          <strong><li><a href="{% url 'golf_app:logout' %}" style="color:white;">Logout</a></li></strong>
            {% else %}
            <strong><li><a href="{% url 'golf_app:login' %}" style="color:white;">Login</a></li></strong>
             <strong><li><a href="{% url 'golf_app:user_registration' %}" style="color:white;">Sign up</a></li></strong>
            {% endif %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
  </nav>
{% block body %}
{% endblock %}
{% block content %}
{% endblock %}
  <p></p>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
</body>
</html>
