{% extends 'base.html' %}


    <body>
        {% block body %}
            <div class="edit-comment-form">
                <div style="padding-top: 1px; padding-right:20%; padding-left: 20%;">
                    <form method="POST" class="edit-comment">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        {% endblock %}
    </body>
