{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>

{% block body %}
<div align="center">
<a href="{%  url 'golf_app:home' %}">Home</a>
<a href="{% url 'golf_app:comment_history' %}">Comment History</a>
</div>
<body>
</br>
<p>Are you sure you want to delete this comment and rating?</p>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit"><strong>Delete Comment</strong></button>

</form>

{% endblock %}

</body>

</html>