{% extends 'base.html' %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block body %}
<h1>Comments</h1>
<div><form method="post" action="{% url 'golf_app:create_comment' %}">
            {% csrf_token %}
            <button type="submit"><strong>Add Comment</strong></button>
        </form></div>
    {% for comment in object_list %}
    <div>
        <ul>
            <strong>Course Name: {{ comment.course_name }}</strong>
       <li>Course Comment: {{ comment.comment }}</li>
       <li>Course Rating: {{ comment.course_rating }}</li>
       <li>Timestamp: {{ comment.timestamp }}</li>
        </ul>
        </div>
        <div style="float: left; width: 130px">
            <form id="linked" method="get" action="{% url 'golf_app:update_comment' comment.id %}">
                {% csrf_token %}
            <button type="submit"><strong>Edit Comment</strong></button>
            </form>
        </div><div style="float: left; width: 130px">
            <form id="linked" method="get" action="{% url 'golf_app:delete_comment' comment.id %}">
                {% csrf_token %}
            <button type="submit"><strong>Delete Comment</strong></button>
            </form>
        </div>
        </br>
    {% endfor %}
{% endblock %}

</body>
</html>