{% extends 'base.html' %}

{% block content %}
    <div align="center" class="best_score">
        <ul>
            <li><h5>Best Score:</h5></li>
            <li><h5>{{ top_score }} ({{ top_score.hole_score }})</h5></li>

        </ul>
    </div>
     <div class="bar-graph" align="center">
        <div class="container" style="background-color:ghostwhite; width:100%; height:auto;">
           <img src="{{ graph_one }}" class="materialboxed" width="60%" style="border:15px solid grey;">
        </div>
        <ol>
                {% comment %}{% for score in top_player_scores %}
                    {{ top_player_scores }} {{ top_player_scores.hole_score }}
                {% endfor %}{% endcomment %}
         </ol>
     </div>
        <div class="gir-line" align="center">
            <div class="container" style="width:100%; height:auto; background-color:ghostwhite;">
                <img src="{{ graph_two }}" class="materialboxed" width="60%" style="border:15px solid grey;"/>
            </div>
        {% comment %}{{ top_player_gir }} {% endcomment %}
        </div>
            <div class="fir-line" align="center">
                <div class="container" style="background-color:ghostwhite; width:100%; height:auto;">
                    <img src="{{ graph_three }}" class="materialboxed" width="60%" style="border:15px solid grey;"/>
                </div>
            </div>
        {% comment %}{{ top_player_fir }}{% endcomment %}
{% endblock %}
