{% extends 'base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
     <div class="bar-graph" align="center">
        <div class="container" style="background-color:#9F9F9F; width:50%;">
           <img src="{{ graph_one }}" class="materialboxed" width="550" style="width:100%;">
        </div>
     </div>
        <div class="gir-line" align="center">
            <div class="container" style="background-color:#212121; width:50%; height:auto;">
                <img src="{{ graph_two }}" class="materialboxed" width="550" style="width:100%;"/>
            </div>
        </div>
            <div class="fir-line" align="center">
                <div class="container" style="background-color:#455A64; width:50%;">
                    <img src="{{ graph_three }}" class="materialboxed" width="550" style="width:100%;">
                </div>
            </div>
    {{ top_score }} {{ top_score.hole_score }}
{% endblock %}
</body>
</html>