{% extends 'home.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>

<body>
<div class="container">
{% block body %}
   <h3 align="center">{{ scorecard.course_name }}</h3>
    <div align="center"><strong>{{ user.username }}'s current score:</strong> {{ scorecard.hole_score }}</div>
    <div align="center"><strong>GIR %:</strong> {{ scorecard.gir_percentage }}</div>
    <div align="center"><strong>FIR %:</strong> {{ scorecard.fir_percentage }}</div>
    <div align="center"><strong>Over/Under Par(-) Total :</strong> {{ scorecard.over_under_par }}</div>
</br>
    <div class="container white-background">
      <table border="1" align="center" class="bordered" id="scorecard-detail">
        <thead>
          <tr>
              <th data-field="id">Hole Number</th>
              <th data-field="id">Player Score</th>
              <th data-field="id">Over/Under Par(-)</th>
          </tr>
        </thead>
        <tbody>
        {% for hole in object.hole_set.all %}
          <tr>
            <td><a href="{% url 'golf_app:hole_detail' hole.id %}">{{ hole.hole_number }}</a></td>
              <td>{{ hole.player_score }}</td>
            <td>{{ hole.hole_over_under_par }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
{% endblock %}
</body>
</html>