{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>

{% block body %}
<body>
</br>
            <h4 align="center" class="confirm-del">Are you sure you want to delete the {{ scorecard.course_name }} scorecard?</h4>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <div align="center">
                    <button type="submit" class="delete-scorecard"><strong>Delete Scorecard</strong></button>
                    </div>
                </form>
{% endblock %}
</body>
</html>