{% extends 'base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
     <div class="bar-graph" align="center">
        <div class="container" style="background-color:#9F9F9F; width:45%;">
            <img src="{{ graph_one }}" class="materialboxed" width="550"/>
        </div>
     </div>
        <div class="gir-line" align="center">
            <div class="container" style="background-color:#212121; max-width:45%; height:auto;">
                <img src="{{ graph_two }}" class="materialboxed" width="550"/>
            </div>
        </div>
            <div class="fir-line" align="center">
                <div class="container" style="background-color:#455A64; width:45%;">
                    <img src="{{ graph_three }}" class="materialboxed" width="550">
                </div>
            </div>
{% endblock %}

</body>
</html>
<a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Hover me!</a>