{%  extends 'base.html' %}
<html>
<body>
{% block body %}
</br>

<h1>Scorecards</h1>
<div><form method="post" action="{% url 'golf_app:create_scorecard' %}">
            {% csrf_token %}
            <button type="submit"><strong>Add Scorecard</strong></button>
        </form></div>
{% for scorecard in object_list %}
    <ul>
    <li><strong><a href="{% url 'golf_app:scorecard_detail' scorecard.id %}">{{ scorecard.course_name }}</a> on {{ scorecard.timestamp }} </strong></li>
        </ul>
    <div class="delete">
        <form method="get" action="{% url 'golf_app:delete_scorecard' scorecard.id %}">
            {% csrf_token %}
            <button type="submit">Delete Scorecard</button>
        </form>
    </div>
{% endfor %}
{% endblock %}
</body>
</html>